PROJECT_MAX_COUNT=10
PROJECT_MAX_NAME_LEN=30
PROJECT_MAX_DESCRIPTION_LEN=150

TASK_MAX_COUNT=20
TASK_MAX_NAME_LEN=30
TASK_MAX_DESCRIPTION_LEN=150

DATABASE_URL=postgresql+psycopg://todo:todo@localhost:5432/tododb

